@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 980px;
    margin: 0 auto;
    margin-top: 6rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 60px;
    font-family: "Roboto";
    font-weight: bold;
    text-align: center;
    color: #09aaf5;
    margin-bottom: 3rem;
}

.salt-image {
    height: 200px;
}


.image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    box-shadow: 0 0 4px 1px rgba(0,0,0,.8);
}

.image-form {
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: column;
    margin-bottom: 1rem;
}

.submit {
    margin: 0;
    color: #fff;
    background: #09aaf5;
    border: none;
    width: 80%;
    height: 35px;
    border-radius: 4px;
    border-bottom: 4px solid #068bc9;
    transition: all .2s ease;
    outline: none;
    cursor: pointer;
}

.success-message,
.error-message {
    position: absolute;
    top: 0;
    width: 100%;
    color: #0fc24b;
    background-color: #95f3b4;
    text-align: center;
    padding: 1rem 0;
    margin: 1rem 0;
    animation: fadeOut 3s;
}

.error-message {
    color: #ad1b1b;
    background: #db8b8b;
}

.paste-area{
    display: flex;
    overflow: hidden;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: auto;
    min-width: 300px;
    border: 1px dashed #efefef;
    margin: 1rem 0;
}

.paste-area .image{
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 0;
}

@media only screen and (max-width: 900px) {
    .App {
        width: 100%;
    }
    .title{
        font-size: 48px;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0.75;
    }
    100% {
        opacity: 0;
    }
}